.explorer-item {
    padding: 4px;
    display: flex;
    cursor: pointer;
    padding: 10px 15px;
}

.explorer-item:hover {
    background-color: #484848;
    transition: .2s;
}

.selected {
    background-color: #4d4d4d;
}

.explorer-item span {
    margin-left: 8px;
}