#explorer-container {
    background: rgba(72, 72, 72, 0.61);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(72, 72, 72, 0.3);
    height: 100vh;
    position: fixed;
    left: 0;
    width: 45%;
    display: flex;
    font-size: 16px;
    z-index: 1;
}