.menu-bar-item {
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin: 15px 5px 15px 5px;

}

.menu-bar-item p {
    font-size: 9px;
    margin: 0;
    display: none;
    
    padding: 2px 5px;
}

.menu-bar-item:hover {
    transform: scale(1.5);
    transition: .2s;
background-color: rgba(51, 51, 51, 0.582);
    border-radius: 6px;
}

.menu-bar-item:hover p {
    display: flex;
    justify-content: center;
}

