#dock-container {
    width: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
}

#dock-container:hover nav {
    left: 10px;
    transition: .2s;
}

nav {
    padding: 20px;
    background: rgba(27, 25, 25, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 255, 255, 0.54);

    position: fixed;
    z-index: 5;
    left: -120px;
    transition: .2s;

}

.divider {
    width: 90%;
    border-top: 1px solid #ddd;
    margin: 15px 0 30px 0;
}